// Color palette
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #E28625;
$color-turquesa: #006971;
$color-green: #004140;

$title-font: 'Big Shoulders Display', Arial, Helvetica, sans-serif;
$text-font: 'Lexend Deca', Arial, Helvetica, sans-serif;

$title-font-size: 2.5rem;
$text-font-size: .9375rem;


// etc...